%h1.page-header Users
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th User
      %th Status
  %tbody
    - @users.each do |user|
      - if user.id != current_user.id
        %tr
          %td= link_to user.username, user_path(user)
          - if user.status.blank?
            %td= link_to "Add Friend", req_friendship_path(user)
          - else
            %td= user.status