%h1.page-header= @user.username
.row
  .span6
    %h2 Games
    %ul
      - @games.each do |game|
        %li= link_to game.title, game_path(game)
  .span6
    %h2 Consoles
    %ul
      - @consoles.each do |console|
        %li= link_to console.title, console_path(console)