-if obj.errors.any?
  #error_explanation
    %h2
      Please fix the following
      =pluralize(obj.errors.count, "error")
      errors:
    .alert.alert-error
      %ul
        -obj.errors.full_messages.each do |msg|
          %li
            =msg