.row
  - @games.each do |game|
    .span4.game
      .game-img
        = cover_img(game)
      .game-info
        %h3= link_to game.title, game
        .btn-group
        -if @owned_games.include?(game)
          = link_to 'Remove', remove_game_path(game), class: 'btn btn-danger'
        - else
          = link_to 'Add', add_game_path(game), class: 'btn btn-success'
