-if @owned_games.include?(game)
  = link_to 'Remove', add_remove_game_path(game), id: "game_#{game.id}", class: 'btn btn-danger add_remove', remote: true
- else
  = link_to 'Add', add_remove_game_path(game), id: "game_#{game.id}", class: 'btn btn-success add_remove', remote: true
