common: &common
  adapter: postgresql
  username: game_status
  encoding: unicode
  timeout: 5000
  pool: 5

development:
  <<: *common
  database: game_status_development
  password:

test:
  <<: *common
  database: game_status_test
  password:

production:
  <<: *common
  database: game_status_production
  password:
