// UNIVERSAL

html
  overflow-y: scroll

body
  @media  (max-width: 980px)
    margin-top: 0

.navbar-inverse .brand, .navbar-inverse .nav > li > a
  color: white

section
  overflow: auto

textarea
  resize: vertical

.stack
  margin-bottom: 0

.page-header h4
  @extend .pull-right

// COMPONENTS

.alert
  margin: 0

.alert-notice
  @extend .alert-info

#error_explanation
  @extend .alert
  @extend .alert-error

  h2
    margin: 0

.flash
  min-height: 38px


// FOOTER

footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid #eaeaea
  text-align: center
  color: #999

footer a
  color: #555

footer a:hover
  color: #222
