body.play_times
  
  .form-horizontal .control-label
    width: 100px

  .form-horizontal .controls
    margin-left: 120px

  #tell
    margin-bottom: 10px

  #tell_count

  #tell_names
    font-size: 11px
    font-style: italic
    margin-top: 0

  .play_time
    
    .content
      padding: 0 0 0 15px
      border-left: 5px solid #888

    .info
      margin: 0
      font-size: 19px
      
    .meta
      color: #999
      line-height: 30px

      .time_in_words:before,
      .time_in_words:after
        content: '\2014 \00A0'

    img.attendee.in
      border-bottom: 2px solid green
      padding-bottom: 2px

    img.attendee.out
      opacity: .5
      border-bottom: 2px solid red
      padding-bottom: 3px

    .created_by
      margin-top: 15px