- flash.each do |key, msg|
  - if key.to_s == 'alert' || key.to_s == 'notice'
    .alert{ class: "alert-#{key}" }
      %button.close{ type: 'button', data: { dismiss: 'alert' } } &times;
      = msg
